
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,400i,600,600i,700,700i|Source+Code+Pro');

/* Global Page Styles */

html {    
    background-color: #e3e6ee;
    background-image: url(/static/img/gplay.svg);

    padding: 0px 0px 25px 0px; 
}

body {
    /* Override bootstrap defaults */
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
        font-family: 'Titillium Web', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

tt, code, pre {
    font-family: "Source Code Pro", monospace;
}

dl {
    margin: 1em 0em;; 
}

dl > dt {
    margin-bottom: 0.5em;
    font-size: 1.05em; 
}

dl > dd {
    margin-bottom: 1em; 
    margin-left: 0.5em; 
}

blockquote { font-size: 1em;  }


/* Element Styles */

header {
    margin: 0px 0em 1em 0em;
    padding: 2em 2em 0.75em 2em;  
    width: 100%;

    background-color: rgb(253, 253, 253);
    box-shadow: 0px 10px 10px rgba(1, 1, 1, 0.15)
}

header h1 {
    margin-bottom: 1em;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 3em;

    color: rgba(0, 0, 0, 1);
}

header .subtitle {
    padding-left: 2em; 

    font-weight: 400;
    font-style: normal;
   
    color: rgba(0, 0, 0, 0.5)
}

header .pages li a {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.65);

    margin-right: 10px;
}

.category-links > .category-link {
    padding: 0.6em;
    margin-bottom: 1em;
}

.category-links > .category-link > div {
    padding: 0.4em;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 10px 10px rgba(1, 1, 1, 0.15)
}

.category-links > .category-link:first-child {
    padding-left: 15px;
}

.category-links > .category-link:last-child {
    padding-right: 15px;
}

.post {
    padding: 2em;
    margin-bottom: 1em;
    background-color: rgb(253, 253, 253);

    box-shadow: 0px 10px 10px rgba(1, 1, 1, 0.15)
}

.post .post-header {
    padding-bottom: 1em;
    margin-bottom: 1.5em; 

    border-bottom: 1px dashed rgba(0,0,0, 0.3);
}

.post .post-header .post-info {
    padding-left: 2em; 
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.post .post-header .post-info a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.post .post-content h1, 
.post .post-content h2, 
.post .post-content h3 {
    padding-top: 1em; 
    font-style: italic;
} 

.post .post-content a {
    text-decoration: underline; 
}

.post .post-continue-link, 
.post .post-continue-link a {
    color: rgba(0, 0, 0, 0.5);
}



/* Utility Classes */
/* Utility Classes & Other Stuff*/

.indent {
    padding-left: 2em; 
}

.figure .caption {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 0.9em; 
}

footer {
    padding: 4em; 
    color: #777;
}

footer a { color: #777; }

img { 
    padding: 1em; 
}

pre {
    border: none;
    padding: 9.5px 2em;
}

/* Import Bootstrap table styles */

table {
  border: 1px solid #ddd;  border-spacing: 0;
  border-bottom-width: 2px;

  border-collapse: collapse;
  background-color: transparent;

  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

td, th { padding: 0; }
th { text-align: left; }

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 2px solid #ddd;
}

/*  Stripes */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* Highlight Row */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
