<!DOCTYPE html>
<html lang="{{ DEFAUL_LANG }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" 
          content="{% block description %}{% endblock %}">
    <meta name="author" content="{{ AUTHOR }}">

    <link id "feedlink" rel="alternate" type="application/atom+xml" 
          title="Controls Theory, Programming & Other Stuff" href="{{ SITEURL }}/feeds/all.atom.xml">

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <!-- Bootstrap Core CSS, Code Highlighting -->
    <link href="{{ SITEURL }}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/static/css/pygments.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ SITEURL }}/static/css/theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}
    {% endblock head %}
</head>

<body>

    <header class="clearfix"> 
        <section class="row">  	
            <h1 class="col-lg-8 col-lg-offset-2">
                <a href="{{ SITEURL }}" class="title-link">{{ SITENAME}}</a>
                <br>
                {% if SITESUBTITLE %}
                    <small class="subtitle"> {{ SITESUBTITLE }}</small>
                {% endif %}
            </h1>
        </section>
    </header>

    <!-- Links to classes, namespaces, ... -->
    <div class="container clearfix">
        <div class="row category-links">
            <div class="col-md-3 col-sm-6 category-link">
                <div class="text-center">
                   <h4><a href="{{ SITEURL }}/namespace/index.html" class=".h4">
                        Namespaces
                    </a></h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 category-link">
                <div class="text-center">
                    <h4><a href="{{ SITEURL }}/class/index.html" class=".h4">
                        Classes
                    </a></h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 category-link">
                <div class="text-center">
                    <h4><a href="{{ SITEURL }}/example/index.html" class=".h4">
                        Examples
                    </a></h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 category-link">
                <div class="text-center">
                    <h4><a href="{{ SITEURL }}/page/index.html" class=".h4">
                        Pages
                    </a></h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container clearfix">

        <div class="row">
               
            <!-- Blog Post Content Column -->
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
                
        </div><!-- /.row -->
        
    </div><!-- /.container -->

    <!-- Footer -->
    <footer>
    	<div class="row">
            <!-- TODO: footer !? -->
        </div>
        <!-- /.row -->
    </footer>


    <!-- jQuery -->
    <script src="{{ SITEURL }}/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ SITEURL }}/static/js/bootstrap.min.js"></script>

</body>

</html>
