{% extends "base.html" %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
<article class="post clearfix"> 
    <div class="post-header">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="post-content">
    {{ page.description }}
    
    </div>
</article>
{% endblock %}